@keyframes rainbowtext {
    0% {
        color: red;
        font-size: 40px;
    }
    25% {
        color: orange;
    }
    50% {
        color: yellow;
        font-size: 60px;
        transform: translateX(1650px) rotate(2turn);
    }
    75% {
        color: green;
    }
    85% {
        color: blue;
    }
    100% {
        color: purple;
        font-size: 40px;
    }
}

p {
    margin-top: 40vh;
    display: inline-block;
    animation-name: rainbowtext;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}